<div class="contact-us">
    <h2>Contact Us</h2>
    <p>Feel free to reach out to us with any questions or inquiries.</p>
    <form #f="ngForm" (ngSubmit)="onFormSubmit(f)">
      <span>Name:</span>
      <input type="text" name="Name" [(ngModel)]="Name" required>
  
      <span>Email:</span>
      <input type="email" name="Email" name="Email" [(ngModel)]="Email" required>
  
      <span>Message:</span>
      <textarea id="message" name="Message" rows="4" [(ngModel)]="Message" required></textarea>
  
      <button type="submit">Submit</button>
    </form>
  </div>