<div class="top">
    <h2>Your Shopping List</h2>
    <p>STILL NEEDING TO CREATE STATEMENTS TO SECTION OFF BASED ON WHICH RECIPE</p>
    <ul>
        <li [routerLink]="['/cart/category']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Category</li>
        <li [routerLink]="['/cart/cartRecipe']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Recipe</li>
    </ul>
</div>
<div class="listing">
    <router-outlet (activate)="onActive($event)"></router-outlet>
</div>

<div class="list">
    <div class="labels">
        <label class="image">.</label>
        <label class="name">Ingredient</label>
        <label class="qty">Quantity</label>
        <label class="cbox"></label>
    </div>

    <div class="product">
        <div *ngFor="let item of itemInfoList">
            <div class="image">
                <img src="assets/{{item.name}}.jpg"/>
            </div>

            <div class="recipe">{{item.recipe}}</div>

            <div class="name">{{item.name}}</div>
            
            <div class="qty">{{item.qty}} {{item.unit}} </div>

            <div class="cbox">
                <input type="checkbox">
            </div>
        </div>
    </div>
</div>