<header>
  <nav id="topbar">
    <h3>Our Recipe Website</h3>
    <ul>
      <li [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</li>
      <li [routerLink]="['/recipes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">RECIPES</li>
      <li [routerLink]="['/cart']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SHOPPINGLIST</li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>