header{
    width: 100%;
 }
 
 #topbar{
    background-color: lightgray;
 }
 
 #topbar h3 {
    display: inline-block;
    padding-left: 40px;
    font-size: 30px;
 }

 #topbar ul {
    display: inline-block;
    padding-left: 50%;
 }

 #topbar li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
    font-weight: 600;
    font-size: 20px;
 }
 
 #topbar ul :hover{
    color: whitesmoke;
 }

 