<section class="top">
    <img [src]="'assets/' + recipe?.image" />
    <h2 [textContent]="recipe?.name.replaceAll('-', ' ')"></h2>
    <p>Serving Size: {{recipe?.serving}}</p>
</section>
<section class="bottom">
    <section class="ingredients">
        <h3>Ingredients</h3>
        <ul>
            <li class="allCheckBoxLi">
                <input id="allCheckBox" type="checkbox" [checked]="allStatus" (change)="allChange()">
                <label for="allCheckBox" *ngIf="!allStatus; else elseBlockBox">Select all</label>
                <ng-template #elseBlockBox><label for="allCheckBox">Deselect all</label></ng-template>
            </li>
            <li *ngFor="let i of ingredients">
                <input [id]="i.name" type="checkbox" [checked]="i.isChecked" (change)="eachChange(i)">
                <label for={{i.name}}>{{i.measurement}} {{i.name}}</label>
            </li>
        </ul>
        <div class="serving">
            <label for="size">Serving size:</label>
            <input id="size" type="text" [(ngModel)]="serving" #servingField="ngModel"  
                pattern="^[0-9]+$|[0-9]+\.[0-9]+" required>
            <span class="error" *ngIf="!servingField.valid && clickedPost">Enter serving size (integer or decimal)</span>
        </div>
        <span *ngIf="!servingField.valid; then thenBlock; else elseBlock"></span>
        <ng-template #thenBlock>
            <input type="submit" value="Add to shopping list" (click)="postItemList()">
        </ng-template>
        <ng-template #elseBlock>
            <input type="submit" value="Add to shopping list" (click)="postItemList()" 
                [routerLink]="['/cart']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        </ng-template>
    </section>

    <section class="instructions">
        <h3>Instructions</h3>
        <ol>
            <li *ngFor="let i of recipe?.instructions; index as idx">
                <div class="circle">{{idx+1}}</div>
                <div class="instrucText">{{i}}</div>
            </li>
        </ol>
    </section>
</section>
<!-- <hr /> -->